<%- include('shared/header.ejs') -%>
<div class="main"></div>
    <img src="/images/giftbox.jpg" class="home">    
  <div class="text">
     <h4>Gifts for all Occasions</h4>
     <a href="/shop">Shop Now</a>
  </div>
</div>

<%- include('shared/footer.ejs') -%>